<form class="p-4 mt-1" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="nome">Nome completo</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome completo"
        [class.is-invalid]="isValidTouched(nome)" [(ngModel)]="aluno.nome" #nome="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(nome)" [mostrarErro]="isValidTouched(nome)"
        msgErro="Nome é obrigatório">
      </app-alerta-erro>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="nome-mae">Nome da Mãe</label>
      <input type="text" class="form-control" id="nome-mae" name="nome_mae" placeholder="Nome da mãe"
        [class.is-invalid]="isValidTouched(nome_mae)" [ngModel]="aluno.nome_mae" #nome_mae="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(nome_mae)" [mostrarErro]="isValidTouched(nome_mae)"
        msgErro="Nome da mãe é obrigatório">
      </app-alerta-erro>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="data-nasc">Data de Nascimento</label>
      <input type="date" class="form-control" id="data-nasc" name="data_nasc" placeholder="01/10/1970"
        [class.is-invalid]="isValidTouched(data_nasc)" [ngModel]="aluno.data_nasc" #data_nasc="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(data_nasc)" [mostrarErro]="isValidTouched(data_nasc)"
        msgErro="Data de nascimento é obrigatório">
      </app-alerta-erro>
    </div>
    <div class="form-group col-md-3">
      <label for="rg">Documento de Identidade (RG)</label>
      <input type="text" class="form-control" id="rg" name="rg" placeholder="1234567" maxlength="7"
        [class.is-invalid]="isValidTouched(rg)" [ngModel]="aluno.rg" #rg="ngModel" required>
        <app-alerta-erro [class.invalid-feedback]="isValidTouched(rg)" [mostrarErro]="isValidTouched(rg)"
          msgErro="RG é obrigatório" onlynumber>
        </app-alerta-erro>
    </div>
    <div class="form-group col-md-3">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" id="cpf" name="cpf" placeholder="12345678901"
        [class.is-invalid]="isValidTouched(cpf)" [ngModel]="aluno.cpf" #cpf="ngModel"
        (blur)="validaCPF(cpf, f)"maxlength="11" required onlynumber>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(cpf)" [mostrarErro]="isValidTouched(cpf)"
        msgErro="CPF é obrigatório">
      </app-alerta-erro>
    </div>
    <div class="form-group col-md-4">
      <label for="sexo" class="control-panel">
        Sexo
      </label>
      <div class="col-sm-12">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="genero" value="m" [ngModel]="aluno.genero" #genero="ngModel">
          <label class="form-check-label">Masculino</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" value="f" name="genero" [ngModel]="aluno.genero" #genero="ngModel">
          <label class="form-check-label">Feminino</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="nome-rua">Rua</label>
      <input type="text" class="form-control" id="nome_rua" name="nome_rua" placeholder="Nome da rua"
        [class.is-invalid]="isValidTouched(nome_rua)" [(ngModel)]="aluno.nome_rua" #nome_rua="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(nome_rua)" [mostrarErro]="isValidTouched(nome_rua)"
        msgErro="Nome da rua é obrigatório">
      </app-alerta-erro>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="cep">CEP </label>
      <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP"
        [class.is-invalid]="isValidTouched(cep)" [ngModel]="aluno.cep" #cep="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(cep)" [mostrarErro]="isValidTouched(cep)"
        msgErro="CEP é obrigatório">
      </app-alerta-erro>
    </div>
    <div class="form-group col-md-2">
      <label for="numero-casa">Número da casa </label>
      <input type="text" class="form-control" id="numero-casa" name="numero_casa" placeholder="Numero"
        [class.is-invalid]="isValidTouched(numero_casa)" [ngModel]="aluno.numero_casa" #numero_casa="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(numero_casa)" [mostrarErro]="isValidTouched(numero_casa)"
        msgErro="Número da casa é obrigatório">
      </app-alerta-erro>
    </div>
    <div class="form-group col-md-4">
      <label for="complemento">Complemento </label>
      <input type="text" class="form-control" id="complemento" name="complemento"
        [ngModel]="aluno.complemento" #complemento="ngModel">
    </div>
    <div class="form-group col-md-2">
      <label for="cidade"> Cidade </label>
      <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade"
        [class.is-invalid]="isValidTouched(cidade)" [ngModel]="aluno.cidade" #cidade="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(cidade)" [mostrarErro]="isValidTouched(cidade)"
        msgErro="Cidade é obrigatório">
      </app-alerta-erro>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-1">
      <label for="estado"> Estado </label>
      <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado"
        [class.is-invalid]="isValidTouched(estado)" [ngModel]="aluno.estado" #estado="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(estado)" [mostrarErro]="isValidTouched(estado)"
        msgErro="Estado é obrigatório">
      </app-alerta-erro>
    </div>
  </div>
  <div class="col-sm-12">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
</form>
