<form class="p-4 mt-1" #f="ngForm" (ngSubmit)="onSubmit(f)">
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="nome">Nome completo</label>
      <input type="text" class="form-control" id="nome" name="nome" placeholder="Nome completo"
        [class.is-invalid]="isValidTouched(nome)" [(ngModel)]="aluno.nome" #nome="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(nome)" [mostrarErro]="isValidTouched(nome)"
        msgErro="Nome é obrigatório">
      </app-alerta-erro>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <label for="nome-mae">Nome da Mãe</label>
      <input type="text" class="form-control" id="nome-mae" name="nome_mae" placeholder="Nome da mãe"
        [class.is-invalid]="isValidTouched(nome_mae)" [ngModel]="aluno.nome_mae" #nome_mae="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(nome_mae)" [mostrarErro]="isValidTouched(nome_mae)"
        msgErro="Nome da mãe é obrigatório">
      </app-alerta-erro>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="data-nasc">Data de Nascimento</label>
      <input type="date" class="form-control" id="data-nasc" name="data_nasc" placeholder="01/10/1970"
        [class.is-invalid]="isValidTouched(data_nasc)" [ngModel]="aluno.data_nasc" #data_nasc="ngModel" required>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(data_nasc)" [mostrarErro]="isValidTouched(data_nasc)"
        msgErro="Data de nascimento é obrigatório">
      </app-alerta-erro>
    </div>
    <div class="form-group col-md-3">
      <label for="rg">Documento de Identidade (RG)</label>
      <input type="text" class="form-control" id="rg" name="rg" placeholder="1234567" maxlength="7"
        [class.is-invalid]="isValidTouched(rg)" [ngModel]="aluno.rg" #rg="ngModel" required>
        <app-alerta-erro [class.invalid-feedback]="isValidTouched(rg)" [mostrarErro]="isValidTouched(rg)"
          msgErro="RG é obrigatório" onlynumber>
        </app-alerta-erro>
        <app-alerta-erro [class.invalid-feedback]="validaRG(rg)" [mostrarErro]="!validaRG(rg) && rg.touched"
        msgErro="RG inválido">
      </app-alerta-erro>
    </div>
    <div class="form-group col-md-3">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" id="cpf" name="cpf" placeholder="12345678901"
        [class.is-invalid]="isValidTouched(cpf)" [ngModel]="aluno.cpf" #cpf="ngModel"
        maxlength="11" required onlynumber>
      <app-alerta-erro [class.invalid-feedback]="isValidTouched(cpf)" [mostrarErro]="isValidTouched(cpf)"
        msgErro="CPF é obrigatório">
      </app-alerta-erro>
      <app-alerta-erro [class.invalid-feedback]="validaCPF(cpf)" [mostrarErro]="!validaCPF(cpf) && cpf.touched"
        msgErro="CPF inválido">
      </app-alerta-erro>
    </div>
    <div class="form-group col-md-3">
      <label for="sexo" class="control-panel">
        Sexo
      </label>
      <div class="col-sm-12">
        <div class="form-check form-check-inline" *ngFor="let opcao of sexoOp">
          <input class="form-check-input" type="radio" name="sexo" [value]="opcao.valor" [ngModel]="aluno.sexo" #sexo="ngModel">
          <label class="form-check-label">{{ opcao.desc }}</label>
        </div>
      </div>
    </div>
  </div>
  <div ngModelGroup="endereco">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="cep">CEP </label>
        <input type="text" class="form-control" id="cep" name="cep" placeholder="CEP" [class.is-invalid]="isValidTouched(cep)"
          ngModel #cep="ngModel" required onlynumber maxlength="8" (blur)="consultaCEP(cep, f)">
        <app-alerta-erro [class.invalid-feedback]="isValidTouched(cep)" [mostrarErro]="isValidTouched(cep)"
          msgErro="CEP é obrigatório">
        </app-alerta-erro>
        <app-alerta-erro [class.invalid-feedback]="validaCEP(cep.value)" [mostrarErro]="!validaCEP(cep.value)&& cep.touched"
          msgErro="CEP inválido">
        </app-alerta-erro>
      </div>
      <div class="form-group col-md-3">
        <label for="numero-casa">Número da casa </label>
        <input type="text" class="form-control" id="numero-casa" name="numero_casa" placeholder="Numero"
          [class.is-invalid]="isValidTouched(numero_casa)" ngModel #numero_casa="ngModel" required>
        <app-alerta-erro [class.invalid-feedback]="isValidTouched(numero_casa)" [mostrarErro]="isValidTouched(numero_casa)"
          msgErro="Número da casa é obrigatório">
        </app-alerta-erro>
      </div>
      <div class="form-group col-md-6">
        <label for="complemento">Complemento </label>
        <input type="text" class="form-control" id="complemento" name="complemento"
          ngModel #complemento="ngModel">
      </div>

    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <label for="nome-rua">Rua</label>
        <input type="text" class="form-control" id="nome_rua" name="nome_rua" placeholder="Nome da rua"
          [class.is-invalid]="isValidTouched(nome_rua)" ngModel #nome_rua="ngModel" required>
        <app-alerta-erro [class.invalid-feedback]="isValidTouched(nome_rua)" [mostrarErro]="isValidTouched(nome_rua)"
          msgErro="Nome da rua é obrigatório">
        </app-alerta-erro>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="bairro"> Bairro </label>
        <input type="text" class="form-control" id="bairro" name="bairro" placeholder="Bairro"
          [class.is-invalid]="isValidTouched(bairro)" ngModel #bairro="ngModel" required>
        <app-alerta-erro [class.invalid-feedback]="isValidTouched(bairro)" [mostrarErro]="isValidTouched(bairro)"
          msgErro="Nome do bairro é obrigatório">
        </app-alerta-erro>
      </div>
      <div class="form-group col-md-3">
        <label for="cidade"> Cidade </label>
        <input type="text" class="form-control" id="cidade" name="cidade" placeholder="Cidade"
          [class.is-invalid]="isValidTouched(cidade)" ngModel #cidade="ngModel" required>
        <app-alerta-erro [class.invalid-feedback]="isValidTouched(cidade)" [mostrarErro]="isValidTouched(cidade)"
          msgErro="Nome da cidade é obrigatório">
        </app-alerta-erro>
      </div>
      <div class="form-group col-md-2">
        <label for="estado"> Estado </label>
        <input type="text" class="form-control" id="estado" name="estado" placeholder="Estado"
          [class.is-invalid]="isValidTouched(estado)" ngModel #estado="ngModel" required>
        <app-alerta-erro [class.invalid-feedback]="isValidTouched(estado)" [mostrarErro]="isValidTouched(estado)"
          msgErro="Estado é obrigatório">
        </app-alerta-erro>
      </div>
    </div>
  </div>
  <div class="col-sm-12">
    <button type="submit" class="btn btn-success">Submit</button>
  </div>
  <div class="col-sm-12 mt-5">
    <app-tabela-informacoes [form]="f"></app-tabela-informacoes>
  </div>
</form>
